/* ==========================
   ESTILOS GERAIS
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef5ee;
    min-height:100vh;
}

/* ==========================
   CABEÇALHO
========================== */



/* ==========================
   CONTEÚDO PRINCIPAL
========================== */



/* ==========================
   CARDS DOS SENSORES
========================== */



/* ==========================
   ÁREA DE RECOMENDAÇÃO
========================== */



/* ==========================
   BOTÕES
========================== */