/* ==========================
   ESTILOS GERAIS
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:rgb(27, 27, 27);
    min-height:100vh;
    color:white;
}


/* ==========================
   SIDEBAR
========================== */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:230px;
    height:100vh;

    background:#202020;
    padding:25px 15px;

    display:flex;
    flex-direction:column;
}

.sidebar h2{
    color:#256D2B;
    text-align:center;
    margin-bottom:35px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sidebar a{
    color:white;
    text-decoration:none;
    padding:14px;
    border-radius:10px;

    transition:.2s;
}

.sidebar a:hover{
    background:#256D2B;
}

.sidebar-bottom{
    margin-top:auto;

    display:flex;
    flex-direction:column;
    gap:10px;
}


/* ==========================
   CONTEÚDO PRINCIPAL
========================== */

main{
    margin-left:230px;
    width:calc(100% - 230px);
    min-height:100vh;

    padding:40px;
}


/* ==========================
   TÍTULO
========================== */

.titulo{
    margin-bottom:35px;
}

.titulo h1{
    color:#256D2B;
    font-size:2.5rem;
    margin-bottom:10px;
}

.titulo p{
    color:#ccc;
    font-size:1.1rem;
}


/* ==========================
   CARDS
========================== */

.conteudo{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

    gap:25px;
}

.card-sustentabilidade{
    background:#252525;

    border-radius:15px;

    padding:30px;

    box-shadow:0 0 15px rgba(255,255,255,.03);

    transition:.3s;
    border-left: 5px solid #256D2B;
}

.card-sustentabilidade:hover{
    transform:translateY(-5px);
}


.card-sustentabilidade h2{
    color:#256D2B;

    font-size:1.4rem;

    margin-bottom:15px;
}


.card-sustentabilidade p{
    color:#ddd;

    line-height:1.6;

    font-size:1rem;
}